mixin sort_container(sort_header, sort_url, sort_name)
    a.sort-link-box.box(id=`${sort_header}-sort` href=sort_url)
        p.sort-link-box-numeric-val(id=`${sort_header}-sort-hash`)
        p.link-color.flex.justify-center.m-0(id=`${sort_header}-label`) #{sort_name}